.table-wrapper {
  overflow-x: scroll;
  overflow-y: auto;
  text-overflow: ellipsis;
  width: 100%;
}

.fl-table {
  border-radius: 1rem;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  white-space: nowrap;
  font-size: 16px;
  gap: 1rem;
  position: relative;
}

.fl-table td,
.fl-table th {
  padding: 2rem;
  text-align: start;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  vertical-align: center;
  border: 1px solid #fff;
}
.fl-table td:first-child,
.fl-table th:first-child {
  border-right: 2px solid #eaf1fb;
  // border-left: 2px solid #eaf1fb;
}

th {
  background-color: #f2f5fc;
  //   color: var(--color-on-primary-light);
}

// .fl-table thead th {
//   color: var(--color-on-primary-light);
// }

.fl-table td {
  border-bottom: 1px solid #eaf1fb;
  border-top: 1px solid #eaf1fb;

  max-width: 300px;

  //   @include media-tablet {
  //     padding-top: 2rem;
  //   }
}
.fl-table tr:first-child > td {
  border-top: 0;
}
.fl-table tr:last-child > td {
  border-bottom: 0;
}
tr {
  background: #fff;
  cursor: pointer;
}

.fl-table.form {
  white-space: wrap;
}
.fl-table.form td,
.fl-table.form th {
  vertical-align: top;
  border-right: none;
  border-left: none;
}
.fl-table.form td:first-child,
.fl-table.form th:first-child {
  border-right: none;
  border-left: none;
}

.tr-expand {
  background-color: #fdfbff;
}

.focus {
  background-color: #c2e7ff !important;
}

.tr-expand--header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin: 0 5px;
}

.expandable-row {
  .fields-wrapper {
    margin-top: 0;
  }
}
.td-open {
  background-color: transparent !important;
}

tbody tr.first-level:hover {
  td {
    background-color: #f0f1f1;
  }
}

tr:hover {
  .box-menu {
    opacity: 1;
  }
}

.hover-td-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
.td-menu {
  width: 20px;
  @media screen and (max-width: 970px) {
    width: auto;
  }
}

.td-bold {
  font-weight: 700 !important;
}

.td-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

tr > th:first-child,
tr > td:first-child {
  position: sticky;
  // for direction lft:
  left: 0;
  // for direction rtl:
  // right: 0;
  z-index: 10;
  // width: 70px;
  min-width: 70px;
}

tr > th:first-child {
  background-color: #f2f5fc;
  border-top-left-radius: 8px;
  //   border-top-right-radius: 8px;
}
tr > th:last-child {
  border-top-right-radius: 8px;
  //   border-top-left-radius: 8px;
}
tr > td:first-child {
  background-color: #fff;
}
.small-cell {
  width: 70px;
}

.td-icon {
  padding: 1rem;
  cursor: pointer;
}
.td-icon:hover {
  background-color: rgba(0, 0, 0, 0.071);
  border-radius: 50%;
}
.td-icon-clicked {
  background-color: #e2e2e5 !important;
  border: 1px solid gray;
  border-radius: 50%;
}

.tr-selected {
  background-color: #aacfeda1;
}

.td-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
  span:first-child {
    font-weight: bold;
  }
}

.no-border-bottom {
  border-bottom: none !important;
}
.no-border-top {
  border-top: none !important;
}

// @media screen and (max-width: 600px) {
//   .fl-table {
//     font-size: 14px;
//     gap: 0.5rem;
//   }

//   .fl-table td,
//   .fl-table th {
//     padding: 1rem;
//   }
// }
