:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
  --kanban-open-bg: #D0FFC0;     
  --kanban-inprogress-bg: #FFF6C0;
  --kanban-closed-bg: #C0D4FF;    
  --kanban-text: #1a1a1a;          /* טקסט רגיל */
  --kanban-subtext: #444;          /* טקסט משני */
  --kanban-border: #e0e0e0;        /* גבולות */
  --kanban-task-bg: #fbfbfb;
  --kanban-task-bg-hover: #fbfbfb;
  --kanban-task-drag-bg: #e3f2fd;
  --kanban-task-drag-border: #64b5f6;
  --kanban-dropzone-bg: #e3f2fd;
  --kanban-dropzone-border: #1e88e5;
  --kanban-dropzone-highlight-bg: #f1f8ff;

}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
  --kanban-open-bg: #1f4031;
  --kanban-inprogress-bg: #4a430b;
  --kanban-closed-bg: #263055;
  --kanban-card-bg: #2b2b2b;
  --kanban-text: #ffffff;
  --kanban-subtext: #cccccc;
  --kanban-border: #444444;
  --kanban-task-bg: #2c2c2c;
  --kanban-task-bg-hover: #3a3a3a;
    --kanban-task-drag-bg: #394b59;
  --kanban-task-drag-border: #90caf9;

  --kanban-dropzone-bg: #2d3e50;
  --kanban-dropzone-border: #64b5f6;
  --kanban-dropzone-highlight-bg: #243646;
}
