@charset "UTF-8";
:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
}

:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
}

.navbar {
  width: 100%;
  height: 8rem;
  line-height: 7rem;
  position: fixed;
  max-width: 2000px;
  padding: 0 3rem;
  background-color: var(--background-light);
  border-bottom: var(--text-color) solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  z-index: 99;
}
.navbar .menu-icon {
  cursor: pointer;
  display: none;
  font-size: 40px;
  color: #498ba1;
}
.navbar img {
  display: flex;
  width: 80px;
}
.navbar .links {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-right: 30px;
}
.navbar .links .link {
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.navbar .links .link:hover {
  color: var(--text-link);
}
.navbar .links .lang {
  display: flex;
  gap: 1rem;
}
.navbar .links .lang button {
  color: var(--text-color);
}
.navbar .links .lang button.disabled {
  color: var(--text-color);
  opacity: 50%;
}
.navbar .links .darkmode-toggle {
  color: var(--text-color);
}

@media screen and (max-width: 900px) {
  .navbar .links {
    width: 300px;
    height: 100vh;
    background-color: var(--background-light);
    position: absolute;
    top: 8rem;
    left: -500px;
    transition: 300ms ease left;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
    gap: 0.1rem;
  }
  .navbar .links.active {
    left: 0px;
  }
  .navbar .links .lang {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
  }
  .navbar .links .darkmode-toggle {
    margin-top: 30px;
  }
  .navbar .menu-icon {
    display: flex;
  }
}
:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
}

.blogs {
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15vh 4vw;
  background-color: var(--background);
  height: 100%;
}
.blogs p {
  padding: 1rem 4rem;
}
.blogs .blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 4vw 4rem 4vw;
  gap: 2rem;
}
.blogs .blogs-container .blog {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.blogs .blogs-container .blog h3 {
  text-align: center;
  padding: 0.5rem 1rem;
  color: var(--text-color);
}
.blogs .blogs-container .blog p {
  font-size: 14px;
  padding: 0.5rem 1rem;
}
.blogs .blogs-container .blog .img-container {
  width: 100%;
  height: 200px;
  display: flex;
}
.blogs .blogs-container .blog .img-container img {
  width: 100%;
  object-fit: cover;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
  justify-content: center;
}
.filters button {
  cursor: pointer;
  font-size: 1.7rem;
  background-color: var(--background-light);
  padding: 0.5rem 1rem;
  border: 1px solid var(--background-light);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  color: var(--text-light);
}
.filters button:hover,
.filters .filter-clicked {
  border: 1px solid var(--text-light);
  color: var(--text-color);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-number {
  font-size: 1.3rem;
  margin: 0 1rem;
  color: var(--text-color);
}

.forward-btn,
.back-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.disabled {
  opacity: 30%;
}

@media screen and (max-width: 1000px) {
  .blogs {
    padding: 12vh 4vw;
  }
  .blogs p {
    padding: 1rem 2rem;
  }
  .blogs .blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 4vw 4rem 4vw;
    gap: 2rem;
  }
  .blogs .blogs-container .blog .img-container {
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .blogs p {
    padding: 1rem 0;
  }
  .blogs .blogs-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem 4vw 4rem 4vw;
    gap: 2rem;
  }
  .blogs .blogs-container .blog .img-container {
    height: 230px;
  }
}
:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
}

.about {
  grid-column: container-start/container-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;
  background-color: var(--white);
}

@media screen and (max-width: 800px) {
  .about {
    padding: 5rem 2rem;
  }
}
:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
}

.hero {
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 14rem 4vw 8rem 4vw;
  background-color: var(--background);
  min-height: 60vh;
  color: var(--text-color);
}
.hero h1 {
  font-size: 7rem;
  font-weight: 600;
  z-index: 1;
}
.hero h1.span {
  letter-spacing: normal;
  padding-left: 3px;
}
.hero p {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 2rem;
  z-index: 1;
}
.hero p .dot {
  background-color: var(--blue);
  width: 9px;
  height: 9px;
  margin-top: 5px;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .hero h1 {
    font-size: 5.3rem;
  }
  .hero p {
    padding: 1rem 4rem;
  }
}
@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 330px) {
  .hero {
    padding: 10rem 4vw 0 4vw;
  }
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero p {
    font-size: 2rem;
  }
}
:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
}

.products {
  grid-column: container-start/container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-gap: 2rem;
  place-content: center;
  padding: 1vh 4vw 6vh 4vw;
  background-color: var(--white);
}
.products .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3vh;
  background-color: var(--background);
  color: var(--text-color);
  padding: 2rem;
  border-radius: 1rem;
}
.products .product .header {
  display: flex;
  line-height: normal;
  align-items: flex-end;
}
.products .product .header img {
  width: 100px;
}
.products .product p {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .products {
    padding: 1rem;
    gap: 1rem;
  }
}
:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
}

.about-us {
  grid-column: container-start/container-end;
  color: var(--text-color);
  background-color: var(--background-light);
  padding: 20vh 4vw 10vh 4vw;
}
.about-us .about-us__title {
  margin-bottom: 1rem;
}
.about-us .about-us__content {
  display: flex;
  align-items: start;
  gap: 4rem;
}
.about-us .about-us__content p {
  text-align: start;
}
.about-us .about-us__content img {
  max-width: 400px;
}
.about-us .btns-container {
  margin-top: 4rem;
}

@media screen and (max-width: 900px) {
  .about-us {
    padding: 10vh 4vw 10vh 4vw;
  }
  .about-us .about-us__title {
    text-align: center;
    margin-bottom: 3rem;
  }
  .about-us .about-us__content {
    flex-direction: column-reverse;
  }
  .about-us .about-us__content img {
    max-width: 300px;
    align-self: center;
  }
}
.footer {
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 10px;
  height: 52px;
  border-top: 1px solid var(--background);
  background-color: var(--background-light);
}
.footer p {
  font-size: 12px;
  letter-spacing: 0.3px;
}

.login {
  grid-column: container-start/container-end;
  border-top: 1px solid #cecece;
  padding: 20vh 4vw;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.login .content {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #3c4043;
  gap: 4rem;
}
.login .content .form {
  background-color: #d6e2db;
  color: #3c4043;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.login .content .form .fields {
  width: 100%;
  margin: 2rem 0 0 0;
}
.login .content .form .btn {
  width: 100%;
  margin: 1rem 0 2rem 0;
}
.login .content .form .form-control {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 5px;
}
.login .content .form .form-control label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;
  font-size: 16px;
}
.login .content .form .form-control label input[type=checkbox].checkbox-login {
  -webkit-appearance: none;
  appearance: none;
  margin: 5px 0;
  cursor: pointer;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1.9px solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.login .content .form .form-control label input[type=checkbox].checkbox-login::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  background-color: #3c4043;
}
.login .content .form .form-control label input[type=checkbox].checkbox-login:checked::before {
  transform: scale(1);
}
.login .content .form .form-control label input[type=checkbox].checkbox-login:focus {
  /* outline: max(2px, 0.15em) solid currentColor; */
  outline-offset: max(2px, 0.15em);
}
.login .content .form .form-control a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 0;
}
.login .content .form .login-options {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 10px;
  width: 100%;
}
.login .content .form .login-options h4 {
  font-weight: 400;
  font-size: font-size(font-size-small);
  position: relative;
  text-align: center;
}
.login .content .form .login-options h4::before {
  content: "";
  display: block;
  width: 28%;
  height: 1.5px;
  position: absolute;
  left: 0;
  top: 50%;
}
.login .content .form .login-options h4::after {
  content: "";
  display: block;
  width: 28%;
  height: 1.5px;
  position: absolute;
  right: 0;
  top: 50%;
}
.login .content .form .login-options .img-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 47.25px;
  border-radius: 5px;
  cursor: pointer;
}
.login .content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .content .info h3 {
  font-weight: 300;
  letter-spacing: -0.07em;
}
.login .content .info h3 span {
  letter-spacing: normal;
  padding-left: 3px;
}
.login .content .info .btn {
  align-self: center;
  margin-top: 5rem;
}
.login .content .info img {
  margin-top: 12rem;
  width: 300px;
}
@media screen and (max-width: 900px) {
  .login .content {
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
  }
  .login .content .info {
    text-align: center;
  }
  .login .content .info .btn {
    margin-top: 2rem;
  }
  .login .content .info img {
    align-self: center;
    margin-top: 3rem;
    width: 200px;
  }
}
@media screen and (max-width: 550px) {
  .login .content {
    width: 100%;
  }
  .login .content .info img {
    width: 150px;
  }
}

input[type=text],
input[type=password],
input[type=number] {
  box-sizing: border-box;
  border: none;
  padding: 0 0.5rem;
  font-size: 14px;
  color: #3c4043;
  background-color: transparent;
  width: 100%;
  color: var(--text-color);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
textarea {
  outline: none !important;
}

.field-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.textarea {
  display: flex;
  flex-direction: column;
}
.textarea .title {
  font-size: 16px;
  margin: 0.5rem;
  letter-spacing: 1px;
}
.textarea textarea {
  height: 200px;
  resize: none;
  padding: 10px;
  font-size: font-size(font-size-small);
  background-color: var(--background-light);
  color: var(--text-color);
  border-radius: 5px;
  border: none;
}

.field-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-container {
  background-color: var(--background-light);
  display: flex;
  padding: 0 1rem;
  align-items: center;
  height: 5rem;
  border-radius: 5px 0 0 5px;
}

.label-container .label-icon,
.label-container .label-text,
.label-container .rquired {
  font-size: 22px;
}

.label-container .rquired {
  color: rgb(131, 47, 47);
}

.input-container {
  background-color: var(--background-light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  border-radius: 0 5px 5px 0;
  padding-left: 1rem;
}

input:focus {
  outline: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}

.input-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light);
}

.input-type .input-type-text,
.input-type .input-icon {
  padding: 0.2rem 0.5rem;
}

.contact {
  grid-column: container-start/container-end;
  border-top: 1px solid #cecece;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 4vw;
  background-color: var(--background-light);
}
.contact .content {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--text-color);
  gap: 4rem;
}
.contact .content .info {
  display: flex;
  flex-direction: column;
}
.contact .content .info p {
  text-align: start;
}
.contact .content .info .info-details {
  margin-top: 2rem;
}
.contact .content .info .info-details .detail {
  margin: 0.7rem 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 0.7rem;
}
.contact .content .info .info-details .detail .google-map {
  margin-bottom: 20px;
}
.contact .content .info .info-details .detail .contact-icon {
  width: 28px;
}
.contact .content .info .info-img {
  margin-top: 4rem;
}
.contact .content .info .info-img img {
  width: 350px;
}
.contact .content .form {
  background-color: var(--background);
  color: var(--text-color);
  border-radius: 30px;
  padding: 2rem;
  min-width: 400px;
}
.contact .content .form h2 {
  padding-bottom: 1rem;
}
.contact .content .form .btn {
  margin-top: 2rem;
  width: 100%;
}
.contact .color-red {
  color: hsl(4, 71%, 50%);
}
.contact .color-blue {
  color: hsl(207, 56%, 45%);
}
.contact .contact__error {
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  .contact .content {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
  }
  .contact .content .info {
    align-items: center;
  }
  .contact .content .info .info-img {
    margin-top: 3rem;
  }
  .contact .content .info .info-img img {
    width: 250px;
  }
}
@media screen and (max-width: 550px) {
  .contact {
    padding: 9rem 0;
  }
  .contact .content {
    width: 100%;
  }
  .contact .content .form {
    min-width: 0px;
    border-radius: 0;
  }
  .contact .content .info img {
    width: 150px;
  }
  .contact .content .info p {
    padding: 0 2rem;
  }
}

.privacy {
  grid-column: container-start/container-end;
  padding: 10rem 8vw 10rem 8vw;
  background-color: var(--white);
  line-height: 2.2;
}
.privacy__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.privacy__small-title {
  font-size: 16px;
  font-weight: bold;
}
.privacy p {
  font-size: 15px;
  padding: 1rem 0;
  text-align: start;
}
@media screen and (max-width: 900px) {
  .privacy {
    padding: 9rem 2.5rem;
  }
}

:root {
  --text-link: #255fa4;
  --text-color: #1a1c1e;
  --text-light: #545a60;
  --white: #fff;
  --background: #f2f3fa;
  --background-light: #fdfbff;
  --border: #ccc;
  --blue: #255fa4;
  --blue-hover: #0e4c97;
  --secondary: #d5e3ff;
  --secondary-hover: #cbdcff;
  --text-color-on-secondary: #001c3b;
  --pink: #f9e3fe;
  --on-pink: #5d3f6b;
  --red: #ffdad2;
  --on-red: #812813;
  --green: #c9ee9e;
  --on-green: #0f2000;
}

.dark-mode {
  --text-link: #a6c8ff;
  --text-color: #e3e2e6;
  --white: #1a1c1e;
  --background: #212529;
  --background-light: #1a1c1e;
  --border: #ccc;
  --blue: #a6c8ff;
  --blue-hover: #8bb4f5;
  --secondary: #001c3b;
  --secondary-hover: #031933;
  --text-color-on-secondary: #d5e3ff;
  --pink: #5d3f6b;
  --on-pink: #f9e3fe;
  --red: #812813;
  --on-red: #ffdad2;
  --green: #0f2000;
  --on-green: #c9ee9e;
}

.product-page-container {
  grid-column: container-start/container-end;
  padding: 5vh 0;
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.product-page-container .product-section-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 7rem;
}
.product-page-container .product-section-container .right {
  margin: 0 50px;
}
.product-page-container .product-section-container .left img {
  width: 400px;
}
.product-page-container .product-section-container.row-reverse {
  flex-direction: row-reverse;
}
.product-page-container .product-section-container.row-reverse .left {
  margin: 0 100px;
}
.product-page-container .product-section-container.row-reverse .left img {
  width: 300px;
}

.para h2 {
  padding-top: 20px;
  font-size: 21px;
  font-weight: 400;
}
.para p {
  color: var(--text-color);
  text-align: start;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.para .link {
  color: var(--blue);
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.para .link:hover {
  color: var(--blue-hover);
}

@media screen and (max-width: 900px) {
  .product-page-container .product-section-container {
    flex-direction: column;
    gap: 1rem;
  }
  .product-page-container .product-section-container .right {
    margin-left: 60px;
  }
  .product-page-container .product-section-container .left {
    align-self: flex-end;
  }
  .product-page-container .product-section-container .left img {
    width: 300px;
  }
  .product-page-container .product-section-container.row-reverse {
    flex-direction: column;
  }
  .product-page-container .product-section-container.row-reverse .right {
    margin-left: 60px;
  }
  .product-page-container .product-section-container.row-reverse .left {
    align-self: center;
  }
}
@media screen and (max-width: 600px) {
  .product-page-container .product-section-container .right {
    margin-left: 20px;
  }
  .product-page-container .product-section-container .left {
    align-self: flex-end;
  }
  .product-page-container .product-section-container .left img {
    width: 300px;
  }
  .product-page-container .product-section-container.row-reverse {
    flex-direction: column;
  }
  .product-page-container .product-section-container.row-reverse .right {
    margin-left: 20px;
  }
  .product-page-container .product-section-container.row-reverse .left {
    align-self: center;
  }
}
.advantages {
  grid-column: container-start/container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  place-content: center;
  padding: 1vh 4vw 6vh 4vw;
  background-color: var(--white);
}
.advantages .advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3vh;
  color: var(--text-color);
  padding: 2rem;
  border-radius: 1rem;
}
.advantages .advantage h2 {
  text-align: center;
  font-size: 23px;
}
.advantages .advantage p {
  font-size: 19px;
}
.advantages .advantage .icon-container {
  background-color: var(--pink);
  padding: 0.5rem;
  border-radius: 180px;
}
.advantages .advantage .icon-container span {
  font-size: 40px;
  color: var(--on-pink);
}

.get-started {
  background-color: var(--pink);
  display: flex;
  margin: 5rem 4rem 0 4rem;
  align-items: center;
  gap: 4rem;
  padding: 2rem 4rem;
}
.get-started .left {
  flex: 3;
}
.get-started .left h1 {
  color: var(--text-color);
}
.get-started .left p {
  color: var(--text-color);
  text-align: start;
}
.get-started .right {
  flex: 1;
}
.get-started .right .btn {
  border-radius: 20px;
  background-color: var(--on-pink);
  color: var(--pink);
  font-size: calc(1.2rem + 0.4vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.red-bg {
  background-color: var(--red);
}

.btn.red-text {
  color: var(--red) !important;
  background-color: var(--on-red) !important;
}

.green-bg {
  background-color: var(--green);
}

.btn.green-text {
  color: var(--green) !important;
  background-color: var(--on-green) !important;
}

@media screen and (max-width: 800px) {
  .get-started {
    flex-direction: column;
    text-align: center;
    margin: 5rem 0 0 0;
  }
  .get-started .left p {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .get-started {
    padding: 2rem 1rem;
  }
}
.open-blog {
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15vh 4vw;
  background-color: var(--background);
  gap: 2.5rem;
}
.open-blog .open-blog-title {
  font-size: 24px;
}
.open-blog img {
  width: 500px;
}
.open-blog p {
  align-self: flex-start;
  text-align: start;
  margin: 1rem 0;
  font-size: 16px;
}
.open-blog h2 {
  font-size: 18px;
}
.open-blog ul,
.open-blog ol {
  margin: 1rem 0;
  margin-right: 4rem;
}

@media screen and (max-width: 600px) {
  .open-blog img {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .open-blog img {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .open-blog img {
    width: 250px;
  }
}
.demo {
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

.kanban-wrapper {
  border-radius: 1rem;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  overflow: hidden;
  width: min-content;
  margin-bottom: 2rem;
}

.kanban-container {
  grid-gap: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(-webkit-min-content, 40px));
  grid-template-columns: repeat(3, minmax(min-content, 40px));
  justify-content: start;
  padding: 1rem;
  overflow-x: auto;
  transition: all 0.3s ease;
}
.kanban-container .kanban {
  background-color: #fff;
  border-radius: 1rem;
  width: 400px;
}
.kanban-container .kanban .main-title {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.kanban-container .kanban .main-title h2 {
  font-size: 24px;
}
.kanban-container .kanban .main-title .close-btn {
  cursor: pointer;
}
.kanban-container .kanban .main-title .status-icon {
  cursor: pointer;
}
.kanban-container .kanban .main-title.kanban-1 {
  background-color: rgb(208, 255, 192);
}
.kanban-container .kanban .main-title.kanban-2 {
  background-color: rgb(255, 246, 192);
}
.kanban-container .kanban .main-title.kanban-3 {
  background-color: rgb(192, 212, 255);
}
.kanban-container .kanban .title {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.kanban-container .kanban .title h2 {
  font-size: 2.3rem;
  color: var(--text-color);
}
.kanban-container .kanban .title .close-btn {
  cursor: pointer;
}
.kanban-container .kanban .columns-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  flex-wrap: wrap;
}
.kanban-container .kanban .kanban-column {
  padding: 1rem;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  width: 100%;
  min-height: 70px;
  min-width: 300px;
  max-width: max-content;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.kanban-container .kanban .kanban-column .kanban-tasks-list {
  min-height: 100px;
  border-radius: 4px;
  padding-top: 0.5rem;
}
.kanban-container .kanban .kanban-column .kanban-tasks-list.dragging-over {
  background-color: #e0f7fa;
}
.kanban-container .kanban .kanban-column .kanban-tasks-list.can-drop {
  border: 2px dashed #1e88e5;
}
.kanban-container .kanban .kanban-column.can-drop {
  border: 2px dashed #1e88e5;
}
.kanban-container .kanban .kanban-task {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}
.kanban-container .kanban .kanban-task.can-drop {
  border: 2px dashed #1e88e5;
}
.kanban-container .kanban .kanban-task:hover {
  background-color: #f5f5f5;
}
.kanban-container .kanban .kanban-task .task-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  gap: 1rem;
}
.kanban-container .kanban .kanban-task .task-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.5rem 0;
}
.kanban-container .kanban .kanban-task .task-content h3 {
  color: var(--blue);
  line-height: 1.3;
  font-size: 16px;
}
.kanban-container .kanban .kanban-task .task-content p {
  text-align: start;
  font-size: 14px;
}

.kanban-container .kanban.minimize {
  width: 40px;
  overflow: hidden;
  max-height: 400px;
}
.kanban-container .kanban.minimize .main-title {
  justify-content: space-between;
  padding: 1.3rem 0 3.3rem 0;
  height: 100%;
  flex-direction: column-reverse;
}
.kanban-container .kanban.minimize .main-title h2 {
  transform: rotate(-90deg);
}
.kanban-container .kanban.minimize .columns-container {
  min-height: 500px;
}
.kanban-container .kanban.minimize .kanban-column {
  background-color: transparent;
}
.kanban-container .kanban.minimize .kanban-column h3 {
  display: none;
}
.kanban-container .kanban.minimize .kanban-column .kanban-tasks-list {
  display: none;
}

.dragging-over {
  background-color: #e0f7fa;
}

.dragging {
  opacity: 0.7;
  background-color: #bbdefb;
}

.hidden {
  display: none;
}

.kanban-task.dragging {
  opacity: 0.8;
  background-color: #e3f2fd;
  border: 2px solid #64b5f6;
  transform: rotate(2deg);
  transition: all 0.2s ease;
}

/* אזור המשימות בזמן גרירה */
.kanban-tasks-list.highlight-drop {
  border: 2px dashed #1e88e5;
  border-radius: 6px;
  min-height: 80px;
  background-color: #e3f2fd; /* כחול בהיר */
}

.highlight-drop {
  border: 2px dashed #1e88e5;
  background-color: #f1f8ff;
}

.kanban-group {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--background-light);
}

.language-container {
  grid-column: container-start/container-end;
}

.lang-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #006493;
  background: #fff;
  background-color: #f6f8fc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #e2e2e5;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: var(--text-color);
}

h1 {
  font-size: 33px;
  font-weight: 300;
  color: var(--text-color);
  margin-top: 4rem;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: var(--text-color);
}

h3 {
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

p {
  font-size: calc(1.5rem + 0.4vw);
  text-align: center;
  color: var(--text-color);
}

textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.active {
  display: none;
}

.small-chip {
  font-size: 14px;
  gap: 1rem;
  padding: 2px 8px;
  border-radius: 4rem;
  width: fit-content;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}

.small-chip.green {
  color: #43493e;
  background-color: #cad7bd;
}

.small-chip.red {
  color: #690005;
  background-color: #ffb4ab;
}

.stop-icon {
  color: rgba(170, 207, 237, 0.631372549);
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 48;
  font-size: 14px;
}

.fill-icon {
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 48;
  color: rgb(81, 112, 224);
  cursor: pointer;
}

.round-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-btn-secondary {
  background-color: #c2e7ff;
  color: #000000;
  transition: all 0.2s ease-in-out;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.darkmode-toggle {
  background-color: transparent;
  border: none 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tag {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 2rem;
  padding: 4px 8px;
  border-radius: 2rem;
  width: 110px;
  height: 30px;
  background-color: #cae6ff;
  color: #001e30;
  cursor: pointer;
}

.tag:hover {
  background-color: #b5d0e7;
}

.tag.green {
  background-color: #8cf9ab;
  color: #213b07;
}

.tag.green:hover {
  background-color: #78e798;
}

.tag.red {
  background: #ffdad6;
  color: #2d1516;
}

.tag.red:hover {
  background: #eccabf;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.bigger-icon {
  position: relative;
  z-index: 1;
}

.smaller-icon {
  position: absolute;
  top: 0;
  left: -13px;
  font-size: 20px;
  border-radius: 180px;
  z-index: 2;
  cursor: pointer;
  background-color: #cae6ff;
  color: #444746;
}

.smaller-icon:hover {
  background-color: #bcd7ef;
}

.smaller-icon.green {
  background-color: #8cf9ab;
  color: #213b07;
}

.smaller-icon.green:hover {
  background-color: #78e798;
}

.smaller-icon.red {
  background: #ffdad6;
  color: #2d1516;
}

.smaller-icon.red:hover {
  background: #eccabf;
}

.App {
  max-width: 2000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: repeat(9, min-content);
}

/* Btns */
.btns-container {
  display: flex;
  gap: 2rem;
  z-index: 9;
}
@media screen and (max-width: 450px) {
  .btns-container {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}

.btn-primary {
  font-size: 18px;
  font-weight: 500;
  border: 2px solid var(--blue);
  color: var(--blue);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 16px 48px;
}
@media screen and (max-width: 500px) {
  .btn-primary {
    font-size: 15px;
  }
}

.btn-primary:hover {
  box-shadow: 2px 2px 5px rgba(67, 72, 207, 0.333);
}

.btn-secondary {
  font-size: 18px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--background);
  background-color: var(--blue);
  transition: all 0.3s ease-in-out;
  padding: 16px 48px;
}
@media screen and (max-width: 500px) {
  .btn-secondary {
    font-size: 15px;
  }
}

.btn-secondary:hover {
  background-color: var(--blue-hover);
}

.btn-orange {
  background-color: var(--secondary);
  color: var(--text-color-on-secondary);
  font-size: calc(1.2rem + 0.4vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-orange:hover {
  background-color: var(--secondary-hover);
}/*# sourceMappingURL=base.css.map */